[Desktop Entry]
Name=macOS Liquid Glass
Comment=macOS style window decorations with liquid glass effect
Type=Service
ServiceTypes=KWin/Decoration

X-KDE-PluginInfo-Author=macOS Liquid Arch Team
X-KDE-PluginInfo-Email=contact@macos-liquid-arch.org
X-KDE-PluginInfo-Name=macOS-Liquid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
