[Unit]
Description=Calamares Installer Autostart
After=graphical.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/calamares
Restart=no
User=liveuser

[Install]
WantedBy=graphical.target
